
$error: red;
$info: #b96bff;
$warning: #ffb024;
$success: #32d992;
$danger: #ff4724;

$success-light: #effbf9;
$warning-light: #fff7e8;
$info-light: #f0ecf1;
$danger-light: #fff3f6;

$default-button: rgb(55, 103, 246);